<div class="modal-header">
  <h4 class="modal-title">Post</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="card form-signin w-100 m-auto modal-body" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Add Your Post</h5>
    <form [formGroup]="postForm" (submit)="submit()">
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          formControlName="title"
          type="text"
          class="form-control"
          name="title"
          [ngClass]="{
            'is-invalid': titleCtrl.errors && titleCtrl.dirty,
            'is-valid': !titleCtrl.errors && titleCtrl.dirty
          }"
        />
      </div>
      <div class="mb-3 text-danger" *ngIf="titleCtrl.errors && titleCtrl.dirty">
        <span *ngIf="titleCtrl.errors['required']">Title is required!</span>
        <span *ngIf="titleCtrl.errors['minlength']"
          >Title sholud be at least 5 characters long!</span
        >
        <span *ngIf="titleCtrl.errors['maxlength']"
          >Title sholud not be longer than 35 characters!</span
        >
      </div>
      <!-- Post Text -->
      <div class="mb-3">
        <label for="text" class="form-label">Text</label>
        <input
          formControlName="text"
          type="text"
          class="form-control"
          name="text"
          [ngClass]="{
            'is-invalid': textCtrl.errors && textCtrl.dirty,
            'is-valid': !textCtrl.errors && textCtrl.dirty
          }"
        />
      </div>
      <div class="mb-3 text-danger" *ngIf="textCtrl.errors && textCtrl.dirty">
        <span *ngIf="textCtrl.errors['required']">Post is required!</span>
        <span *ngIf="textCtrl.errors['minlength']"
          >Post sholud be at least 10 characters long!</span
        >
      </div>
      <!-- Author -->
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input
          formControlName="author"
          type="text"
          class="form-control"
          id="author"
          name="author"
          [ngClass]="{
            'is-invalid': authorCtrl.errors && authorCtrl.dirty,
            'is-valid': !authorCtrl.errors && authorCtrl.dirty
          }"
        />
      </div>
      <div
        class="mb-3 text-danger"
        *ngIf="authorCtrl.errors && authorCtrl.dirty"
      >
        <span *ngIf="authorCtrl.errors['required']"
          >Author name is required!</span
        >
        <span *ngIf="authorCtrl.errors['minlength']"
          >Author name sholud be at least 5 characters long!</span
        >
        <span *ngIf="authorCtrl.errors['maxlength']"
        >Title sholud not be longer than 35 characters!</span
      >
      </div>
      <button
        type="button"
        class="btn btn-secondary"
        style="margin-right: 5px"
        (click)="closeModal()"
      >
        Close
      </button>
      <div class="mb-3" style="float: right">
        <button type="submit" class="btn btn-success">Post</button>
      </div>
    </form>
  </div>
</div>
