<div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
    >
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/home" class="nav-link px-2 link-dark">Home</a></li>
        <li><a routerLink="/recipes" class="nav-link px-2 link-dark">All Recipes</a></li>
        <li><a routerLink="/add-recipe" class="nav-link px-2 link-dark">Add Recipe</a></li>
      </ul>
  
      <div class="col-md-3 text-end">
        <button
          type="button"
          class="btn btn-outline-primary me-2"
       
          (click)="userProfile()"
        >
          <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> Profile
        </button>
        <button
          type="button"
          class="btn btn-outline-danger me-2"
         
          (click)="logout()">
          Logout <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          (click)="login()" 
        >
          <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Login
        </button>
        <button 
        type="button"
         class="btn btn-outline-success"
        (click)="register()"
         >
          <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Sign-up
        </button>
      </div>
    </header>
  </div>