<div class="card" style="width: 70rem" *ngIf="recipe">
  <img src="{{ recipe.imageUrl }}" class="card-img-top" alt="recipe image" />
  <div class="card-body">
    <h5 class="card-title text-bg-dark">{{ recipe.title }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p class="text-bg-dark">Short Description</p>
        <p class="card-text">{{ recipe.shortDescription }}</p>
      </li>
      <li class="list-group-item">
        <p class="text-bg-dark">Ingredients</p>
        <p class="card-text">{{ recipe.ingredients }}</p>
      </li>
      <li class="list-group-item">
        <p class="text-bg-dark">Instructions</p>
        <p class="card-text">{{ recipe.instructions }}</p>
      </li>
    </ul>
    <div>
      <br />
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Prep Time: {{ recipe.prepTime }}</li>
      <li class="list-group-item">Cook Time: {{ recipe.cookTime }}</li>
      <li class="list-group-item">Servings: {{ recipe.servings }}</li>
    </ul>

<div class="btn-group" role="group">
  <button class="btn btn-outline-success" (click)="openModal(recipe)">Update</button>
  <button class="btn btn-danger " (click)="remove()">Remove</button>
  <button class="btn btn-outline-success" style="display: none;" (click)="fillForm(recipe)">
    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
  </button>
</div>
    
    <div>
      <a routerLink="/recipes" class="btn btn-primary">Go back to all recipes</a>
    </div>
  </div>
</div>
