<div class="card-group"  *ngFor="let recipe of recipes">
  <div class="card container-md flex" style="width: 22rem;">
    <img src="{{recipe.imageUrl }}" class="card-img-top sm" alt="recipe image">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description}}</p>
    </div>
    <div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Prep Time: {{recipe.prepTime}}</li>
      <li class="list-group-item">Cook Time: {{ recipe.cookTime}}</li>
      <li class="list-group-item">Servings: {{ recipe.servings}}</li>
    </ul>
  </div>
  <div>
    <a [routerLink]="recipe._id" class="card-link"> See Full Recipe</a>
  </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated: {{recipe._updatedOn | date : "medium"}}</small>
    </div>
  </div>
</div>
