<div class="container-sm">
  <table class="table" *ngFor="let post of posts">
    <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ post.author }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.text }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button type="button" class="btn btn-success" (click)="openModal(post)">
      Add Comment
    </button>
  </div>
</div>
